/*********************/
/* BMI osion tyylittely */

body {background-color:  rgb(180, 201, 173)}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 500px;
  margin: 50px auto;
  padding: 30px;
}

.card > h2 {
  margin-top: 15px;
}

ul a {
  color: rgb(255, 255, 255);
  text-decoration: none;
}

ul {
  list-style-type: none;
  background-color:   rgb(180, 201, 173);
  height: 80px;
  width: 100%;
  text-align: center;
  margin: auto;
  padding: 0px;
  /*box-shadow: 3px 5px gray;*/
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.25),
   0 2px 6px rgba(0, 0, 0, 0.08);
}

li {
  display: inline-block;
  padding: 5px;
  font-size: 30px;

  border-style: double;
  margin: 15px;
  text-align: center;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-color: rgb(119, 136, 153);
  box-shadow: 3px 5px gray;
}

.card p {
  margin-top: 20px;
  margin-bottom: 20px;
}
.description {
  color: grey;
  font-size: 18px;
}

label {
  display: block;
}

input[type='text'] {
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.btn {
  margin-top: 20px;
  margin-bottom: 20px;
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: rgb(30, 39, 46);
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.btn:hover,
a:hover {
  opacity: 0.7;
}

tbody {
  background-color: #fff;
}

td {
  border: 1px solid #ddd;
  padding: 5px;
}

.lowBmi {
  background-color: rgb(71, 178, 210);
}
.normalBmi {
  background-color: rgb(112, 223, 112);
}
.highBmi {
  background-color: rgb(244, 148, 30);
}

@media screen and (max-width: 900px) {
  ul { height: 160px;}
  
}